streamlit>=1.35.0
ollama>=0.2.1
openai>=1.33.0
numpy>=1.24.4
Pillow>=10.3.0
Requests>=2.31.0
torch>=2.3.0
torchvision>=0.18.0
transformers>=4.40.2
chromadb>=0.4.24
sentence_transformers>=5.0.0
langchain_community>=0.2.6
fastembed>=0.3.2
sentencepiece>=0.2.0
pypdf>=5.7.0
accelerate>=1.6.0
langchain-ollama>=0.3.4
tiktoken>=0.9.0
pdfplumber>=0.11.7
